    {% for post in Posts %}
      <h2>Title:- {{ post.title }} </h2>
      <p>Domain:- {{ post.domain }} </p>
      <p>Item Url:- {{ post.itemurl }} </p>
      <p>Categories Tags:- 
      {% for cate in post.categoriestags %}
          {{cate}}, 
      {% endfor %}
      </p>

      <p>Author:- {{ post.author }}</p>
      <p>Author Link:- {{ post.authorlink }} </p>
      <!-- <p>Image link:- <img src="{{ post.imglink }}" alt="Smiley face" height="200" width="400"> </p> -->
      <p> serves {{post.serves}}</p>
      <p>Ingredients:- 
          {{post.ingredients}}
      </p>


      <form method="get" action="{% url 'blogapp:update' %}">
        <input type="hidden" name="id" value="{{ post.id }}">
        <input type="hidden" name="title" value="{{ post.title }}">
        <input type="hidden" name="domain" value="{{ post.domain }}">
        <input type="hidden" name="itemurl" value="{{ post.itemurl }}">
        <input type="hidden" name="categoriestags" value="{{ post.categoriestags }}">
        <input type="hidden" name="author" value="{{ post.author }}">
        <input type="hidden" name="authorlink" value="{{ post.authorlink }}">
        <input type="hidden" name="imglink" value="{{ post.imglink }}">
        <input type="hidden" name="serves" value="{{ post.serves }}">
        <input type="hidden" name="ingredients" value="{{ post.ingredients }}">
        <input type="submit" name="" value="update">
      </form>
      <form method="get" action="{% url 'blogapp:delete' %}">
        <input type="hidden" name="id" value="{{post.id}}">
        <input type="submit" value="delete">
      </form>
    {% endfor %}