<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}blog.css" rel="stylesheet" type="text/css">
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <style>
         #project-label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
         }
         #project-icon {
            float: left;
            height: 32px;
            width: 32px;
         }
         #project-description {
            margin: 0;
            padding: 0;
         }
      </style>


      <script>
        $(document).ready(function(){
          $( "#project" ).keyup(function() {
            value = $(this).val();
            $.post("{% url 'blogapp:search' %}", 
              {
                term:value, 
                csrftoken:"{% csrf_token %}"
              },
              function(data, status){
                $("#entrycycle").empty();
                $( "#entrycycle" ).append( data );
              }
            )
          });

        });
      </script>


  </head> 
  <body>
    <h1>Blogs</h1>
    <center>
         <input id="project" placeholder="Search for a Recipe or Chef" value="">
         <input type="hidden" id="project-id">
         <p id="project-description"></p>
    </center> 

    <br /><br /><br />

     <center>Add Blog</center> 
     <center>
    <form method="post" action="{% url 'blogapp:index' %}">
      {% csrf_token %}
      <ul>
        <li>
          <input type="url" name="domain" placeholder="Domain" required>
        </li>
        <li>
          <input type="text" name="title" placeholder="Title" required>
        </li>
        <li>
          <input type="url" name="itemurl" placeholder="Item Url" required>
        </li>
        <li>
          <input type="text" name="categoriestags" placeholder="Categories Tags" required>
        </li>
        <li>
          <input type="text" name="author" placeholder="Author" required>
        </li>
        <li>
          <input type="url" name="authorlink" placeholder="Author Link">
        </li>
         <li>
          <input type="text" name="serves" placeholder="Serves">
        </li>
        <li>
          <input type="url" name="imglink" placeholder="Imgage Link">
        </li>
        <li>
          <textarea name="ingredients" placeholder="Ingredients: comma separated ex:- potato 32g, tomato 30g" rows=5 cols=50 required>
          </textarea>
        </li>
        <li>
          <input type="submit" value="Add Post">
        </li>
      </ul>
    </form>
    </center> 
<!-- Cycle through entries -->
  <div id="entrycycle">
    {% include "blogapp/blog_search_temp.html" %}
    </div>
  </body>
</html>