<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}blog.css" rel="stylesheet" type="text/css">
  </head> 
  <body>
    <h1>Blongo - Update Entry</h1>
    <form method="post" action="{% url 'blogapp:update' %}">
      {% csrf_token %}
      <ul>
      <li><input type="hidden" name="id" value="{{post.id}}"></li>
        <li>
          <input type="url" name="domain" placeholder="Domain" required>
        </li>
        <li>
          <input type="text" name="title" placeholder="Title" required>
        </li>
        <li>
          <input type="url" name="itemurl" placeholder="Item Url" required>
        </li>
        <li>
          <input type="text" name="categoriestags" placeholder="Categories Tags" required>
        </li>
        <li>
          <input type="text" name="author" placeholder="Author" required>
        </li>
        <li>
          <input type="url" name="authorlink" placeholder="Author Link">
        </li>
         <li>
          <input type="text" name="serves" placeholder="Serves">
        </li>
        <li>
          <input type="url" name="imglink" placeholder="Imgage Link">
        </li>
        <li>
          <textarea name="ingredients" placeholder="Ingredients: comma separated ex:- potato 32g, tomato 30g" rows=5 cols=50 required>
          </textarea>
        </li>
        <li>
          <input type="submit" value="Save Changes">
        </li>
      </ul>

  </body>
</html>